.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2d2f42;
  color: white;
}

.chat-body {
  display: flex;
  flex: 1;
  height: 100%;
}

.chat-list-container {
  flex: 0 0 320px; /* 좌측 패널 고정 너비 */
  background-color: #48319D; /* 좌측 패널 배경색 */
  overflow-y: auto;
}

.chat-room-container {
  flex: 1;
  background-color: #2d2f42;
  display: flex;
  flex-direction: column;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2f42;
}

.main-logo {
  max-width: 300px;
  height: auto;
  opacity: 0.8;
}
