/* 공통 스타일 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1a2035; /* 배경색 */
  color: #ffffff; /* 기본 글자색 */
}

.app-container {
  display: flex;
  height: 100vh;
}

/* 채팅방 리스트 */
.chat-list-header {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #48319D; /* 헤더 배경색 */
  border-bottom: 2px solid #5a47a2;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-item:hover {
  background-color: #7126E2; /* 마우스 호버 시 연한 보라색 */
}

.chat-item.selected {
  background-color: #8322FF; /* 선택된 페이지의 진한 보라색 */
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-item-content {
  display: flex;
  flex-direction: column;
}

.character-name {
  font-size: 16px;
  font-weight: bold;
}

/* 로고 */
.logo-container {
  text-align: center;
}

.main-logo {
  max-width: 200px;
  height: auto;
}
